img {
    height: 8rem;
}

.header{
    justify-content: center;
    background-color: aqua;
    height: 10%;
    font-size: 3rem;
}

span{
    display: flex;
    align-items: center;
    padding-left: 1rem;
}